@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --font-Rosario: "Rosario";
  --font-DmSans: "DM Sans";
  --color-green-500: #09a66d;
  --color-black-700: #222;
  --color-black-300: #555;
  --color-black: #000;
  --color-white: #fff;
  --color-green-50: #f3fbf8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
}

header {
  max-width: 1240px;
  margin: auto;
  border: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  gap: 10px;
}
nav {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 374px;
  justify-content: space-between;
  gap: 8px;
}
nav > a {
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: var(--color-black-700);
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}
nav > a::before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #09a66c89;
  transition: all 0.6s;
}
nav > a:hover::before {
  width: 100%;
  transition: all 0.6s;
}
.header_logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_options {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
.header_options_search {
  width: 40px;
  height: 40px;
  background-color: var(--color-green-50);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
}
.header_options_search:hover {
  background-color: #09a66c89;
}
.header_options_ShopBag {
  width: 40px;
  height: 40px;
  background-color: var(--color-green-50);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
}
.header_options_ShopBag:hover {
  background-color: #09a66c89;
}
.header_options_btn {
  max-width: 160px;
  min-width: 160px;
  background-color: var(--color-green-500);
  border-radius: 8px;
  padding: 10px 23px;
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}
.header_options_btn:hover {
  background-color: #09a66c89;
}
.section_hero {
  background-color: var(--color-green-50);
  padding: 92px 0 32px 0;
}
.section_hero_child {
  max-width: 1240px;
  margin: auto;
}
.section_hero_text > h1 {
  font-family: var(--font-Rosario);
  font-weight: 700;
  font-size: 70px;
  line-height: 129%;
  color: var(--color-black-700);
  text-align: center;
  margin-top: 20px;
}
.section_hero_text > p {
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: var(--color-black-300);
  text-align: center;
}
.section_hero_text_btn {
  display: flex;
  align-items: center;
  max-width: 176px;
  margin: auto;
  margin-top: 40px;
  gap: 20px;
}
.section_hero_text_btn > p {
  font-family: var(--font-DmSans);
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: var(--color-black-700);
}
.section_hero_text_btn > span {
  width: 64px;
  height: 64px;
  background-color: var(--color-green-500);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
}
.section_hero_text_btn > span:hover {
  background-color: #09a66c74;
}
.section_hero_options {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.section_hero_options_img {
  background-color: transparent;
  max-width: 862px;
}
.section_hero_options_img > img {
  width: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.section_hero_options_statistics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 250px;
}
.section_hero_options_statistics_item {
  width: 100%;
  max-width: 250px;
  padding: 17px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: var(--color-white);
}
.section_hero_options_statistics_item > span {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green-50);
}
.section_hero_options_statistics_item_text > h3 {
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: var(--color-black);
}
.section_hero_options_statistics_item_text > p {
  margin-top: 4px;
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: var(--color-black);
}
.navigation_bar {
  flex: 1;
  display: none;
  justify-content: flex-end;
}
.navigation_bar_content {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.navigation_bar_main {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.navigation_bar_content_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 12px;
}
.navigation_bar_content a {
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: var(--color-black-700);
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}
.navigation_bar_content a::before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #09a66c89;
  transition: all 0.6s;
}
.navigation_bar_content a:hover::before {
  width: 100%;
  transition: all 0.6s;
}
.header_register_btn {
  display: none;
  flex: 1;
}
.navigation_bar_content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: var(--color-white);
}
.navigation_bar_icon:hover + .navigation_bar_content {
  display: flex;
}
.section_advantages {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 140px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.section_advantages_text {
  flex: 1;
}
.section_advantages_image {
  flex: 0.8;
}
.section_advantages_image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section_advantages_text > h1 {
  font-family: var(--font-Rosario);
  font-weight: 700;
  font-size: 70px;
  line-height: 129%;
  color: var(--color-black-700);
}
.section_advantages_text > p {
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: var(--color-black-300);
  margin-top: 20px;
}
.section_advantages_text_options {
  margin-top: 56px;
  max-width: 500px;
}
.section_advantages_text_options_item {
  display: flex;
  gap: 24.47px;
  transition: all 0.4s;
  padding: 40px 60px;
}
.section_advantages_text_options_item:nth-of-type(2) {
  background-color: var(--color-green-50);
}
.section_advantages_text_options_item:hover {
  background-color: var(--color-green-50);
  transition: all 0.4s;
}
.section_advantages_text_options_item_text > h3 {
  font-family: var(--font-DmSans);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-black-700);
}
.section_advantages_text_options_item_text > p {
  margin-top: 8px;
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--color-black-300);
}
.section_advantages_text_options_item_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--color-green-50);
}
.section_advantages_text_options_arrow_Down {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_advantages_vektor {
  position: absolute;
  top: -16%;
  right: -33%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.section_advantages_vektor > svg {
  width: 100%;
  height: 100%;
}
.section_explore {
  padding: 88px 15px;
  background-color: var(--color-green-50);
}
.section_explore_child {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.section_explore_image {
  width: 100%;
  max-width: 600px;
  height: 600px;
  flex: 1;
}
.section_explore_image > img {
  width: 100%;
}
.section_explore_text {
  flex: 1;
}
.section_explore_text > h1 {
  font-family: var(--font-Rosario);
  font-weight: 700;
  font-size: 70px;
  line-height: 129%;
  color: var(--color-black-700);
}
.section_explore_text > p {
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: var(--color-black-300);
  margin-top: 20px;
}
.section_explorer_text_options {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
.section_explorer_text_options > button {
  outline: none;
  border: none;
  background: transparent;
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: var(--font-DmSans);
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: var(--color-black-700);
  margin-top: 24px;
}
.section_explorer_text_options > button > span {
  min-width: 64px;
  height: 64px;
  background-color: var(--color-green-500);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.section_explorer_text_options > button > span:hover {
  opacity: 0.4;
  transition: all 0.4s;
}
.section_explorer_text_options_image {
  max-width: 380px;
}
.section_explorer_text_options_image > img {
  width: 100%;
}
.section_review {
  max-width: 1240px;
  margin: auto;
  margin-top: 96px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
.section_review_text {
  flex: 1.2;
}
.section_review_text > h1 {
  font-family: var(--font-Rosario);
  font-weight: 700;
  font-size: 70px;
  line-height: 129%;
  color: var(--color-black-700);
}
.section_review_text > p {
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: var(--color-black-300);
  margin-top: 30px;
  max-width: 580px;
}
.section_review_text_options {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  max-width: 465px;
}
.section_review_text_options_name > h3 {
  font-family: var(--font-DmSans);
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: var(--color-black-700);
}
.section_review_text_options_name_icons {
  margin-top: 20px;
  display: flex;
  gap: 9px;
}
.section_review_text_options_name_icons > span {
  cursor: pointer;
}
.section_review_text_options_name_icons > span:hover {
  opacity: 0.6;
}
.section_review_text_options_icons {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  max-width: 138.5px;
}
.section_review_text_options_icons_left {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section_review_text_options_icons_left:hover {
  opacity: 0.8;
}
.section_review_text_options_icons_right {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--color-green-500);
  border: 1px solid var(--color-green-500);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section_review_text_options_icons_right:hover {
  opacity: 0.8;
}
.section_review_image {
  flex: 1;
}
.section_review_image_child {
  max-width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: auto;
  background-color: var(--color-green-50);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 41px;
}
.section_review_image_child > img {
  width: 100%;
  mix-blend-mode: multiply;
}
.section_app {
  max-width: 1240px;
  margin: auto;
  display: flex;
  gap: 15px;
  justify-content: space-around;
}
.section_app_img {
  max-width: 265px;
}
.section_app_img > img {
  width: 100%;
}
.section_app_text {
  padding-top: 35px;
}
.section_app_text > span {
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #333;
  padding: 11px 24px;
  background-color: var(--color-green-50);
  max-width: 170px;
  border-radius: 50px;
  min-width: 170px;
}
.section_app_text > h1 {
  margin-top: 16px;
  font-family: var(--font-Rosario);
  font-weight: 700;
  font-size: 70px;
  line-height: 129%;
  color: var(--color-black-700);
}
.section_app_text > p {
  margin-top: 20px;
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: var(--color-black-300);
  max-width: 574px;
}
.section_app_text_options {
  margin-top: 50px;
  display: flex;
  gap: 24px;
}
footer {
  margin-top: 139px;
  padding-top: 66.79px;
  padding-bottom: 118px;
  background-color: #fcfefd;
}
.footer_child {
  max-width: 1240px;
  margin: auto;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.footer_item_logo {
  width: 70px;
  height: 70px;
}
.footer_item_logo > img {
  width: 100%;
}
.footer_item:first-of-type > p {
  margin-top: 29px;
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #555;
  max-width: 345.36px;
}
.footer_item > h3 {
  font-family: var(--font-DmSans);
  font-weight: 500;
  font-size: 24px;
  color: var(--color-black-700);
  margin-bottom: 39.79px;
  margin-top: 39.2px;
}
.footer_item > a {
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  color: #555;
  display: block;
  text-decoration: none;
}
.footer_item > a:not(:first-of-type) {
  margin-top: 24.69px;
}
.footer_item > p {
  margin-top: 40px;
  font-family: var(--font-DmSans);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-black-700);
}
.footer_item_options {
  margin-top: 25px;
  max-width: 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.footer_item_options > span {
  cursor: pointer;
}
@media screen and (max-width: 1240px) {
  header {
    padding: 50px 15px;
  }
  .section_advantages {
    padding: 140px 12px;
    flex-direction: column-reverse;
  }
  .section_advantages_image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .section_advantages_image > img {
    margin: auto;
    max-width: 600px;
  }
  .section_advantages_text {
    margin-top: 20px;
  }
  .section_advantages_text > h1,
  .section_advantages_text > p {
    text-align: center;
  }
  .section_advantages_text > p {
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
  }
  .section_advantages_text_options {
    max-width: 700px;
    margin: auto;
    margin-top: 56px;
  }
  .section_advantages_text_options_item {
    justify-content: center;
  }
  .section_advantages_vektor {
    display: none;
  }
  .section_review {
    padding: 0 15px;
  }
  .section_app {
    padding: 0 15px;
  }
  footer {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1123px) {
  .section_hero_options {
    flex-direction: column;
  }
  .section_hero_options_img {
    margin: auto;
  }
  .section_hero_options_statistics {
    flex-direction: row;
    max-width: 100%;
  }
  .section_hero_options_statistics_item {
    max-width: 100%;
  }
}
@media screen and (max-width: 993px) {
  .section_explore_child {
    flex-direction: column;
    align-items: center;
  }
  .section_explore_text {
    text-align: center;
  }
  .section_explore_text > p {
    max-width: 700px;
  }
  .section_explore_text > h1 > br {
    display: none;
  }
  .section_explorer_text_options_image {
    display: none;
  }
  .section_explorer_text_options {
    justify-content: center;
  }
  .section_review {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
  .section_review_text_options {
    max-width: 100%;
  }
  .section_app {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
  .section_app_text_options {
    justify-content: center;
  }
  .section_app_text > span {
    margin: auto;
    display: block;
  }
  .section_app_text > h1 {
    text-align: center;
  }
  .footer_child {
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 783px) {
  .section_hero_text > h1 {
    font-size: 58px;
  }
  .section_explore_text > h1 {
    font-size: 58px;
  }
  .section_explore_text > h1 > br {
    display: none;
  }
  .section_review_text > h1 {
    font-size: 58px;
    text-align: center;
  }
  .section_review_text > h1 > br {
    display: none;
  }
  .section_app_text > h1 {
    font-size: 58px;
  }
  .section_app_text > h1 > br {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  header > nav {
    display: none;
  }
  .header_register_btn {
    display: flex;
  }
  header > .header_logo {
    justify-content: center;
  }
  header > .header_options {
    display: none;
  }
  header > .navigation_bar {
    display: flex;
  }
}
@media screen and (max-width: 665px) {
  .section_hero_options_statistics_item {
    flex-direction: column;
  }
  .section_hero_options_statistics_item_text > h3 {
    font-size: 36px;
  }
  .section_hero_options_statistics {
    gap: 12px;
  }
  .section_advantages {
    padding: 40px 0;
  }
  .section_advantages_text > h1 {
    font-size: 52px;
  }
  .section_explore_text > h1 {
    font-size: 52px;
  }
  .section_review_image_child {
    flex: 1;
    height: 100%;
  }
  .section_review_text > h1 {
    font-size: 52px;
  }
  .section_app_text > h1 {
    font-size: 52px;
  }
}
@media screen and (max-width: 488px) {
  .section_hero_text > h1 {
    font-size: 42px;
  }
  .section_explore_text > h1 {
    font-size: 42px;
  }
  .section_explore_text > p {
    font-size: 12px;
  }
  .section_hero_text > p {
    margin-top: 12px;
  }
  .section_hero {
    padding: 25px 0 32px 0;
  }
  .section_advantages_text_options_item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section_review_text > h1 {
    font-size: 42px;
  }
  .section_app_text > h1 {
    font-size: 42px;
  }
  .section_review {
    margin-bottom: 20px;
  }
}
